<div class="row">
  <%= link_to t(".new_category"), new_admin_category_path, class: "btn btn-primary" %>
</div>
<div class="row">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th><%= t ".category" %></th>
        <th colspan="2" class="text-center"><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @categories %>
    </tbody>
  </table>
</div>
