<div class="list-group">
  <a href="" class="list-group-item active"><h3><%= t ".category" %></h3></a>
  <a href="" class="list-group-item"><%= t ".sub_category" %></a>
  <a href="" class="list-group-item"><%= t ".sub_category" %></a>
  <a href="" class="list-group-item"><%= t ".sub_category" %></a>
</div>
